@charset "utf-8";

/*
	Final Project
	La La Land

	Author: Khaya
	Date: 2/28/2019

	Filename: responsive
*/

/* Media Queries */

@media only screen and (min-width: 400px) {
  
  nav > ul > li > a {
	text-decoration: none;
	color: #e35b4f;
	font-family: Impact, Charcoal, sans-serif;
	letter-spacing: 0.2em;
	font-size: 5em;
	transition: color 1.5s ease-in,
				font-size 2s ease,
				letter-spacing 2s ease-out;
  }
  
}
